<ion-view title="Home" id="page1" style="background-color:#FF5722;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Patricio</div>
            <div class="item item-body">
                <div style="text-align:left;">
                    <img src="img/vubuZeD8QLepXp1HogMQ_39260_patricio_estrella.jpg" width="10%" height="auto">
                </div>
                <a style="display:inline-block;" ui-sref="menu.match">
                    <div style="text-align:;">
                        <img src="img/X3ltGTH4SAOSgNA6v6Xl_Marraqueta.jpg" width="100%" height="auto">
                    </div>
                </a>
            </div>
            <div class="item item-divider">Marraqueta</div>
        </div>
    </ion-content>
</ion-view>