<ion-view title="Match" id="page12" style="background-color:#FF5722;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3 id="match-heading5" style="color:#FFFFFF;">Marraquetas con Patricio!</h3>
        <div style="text-align:;">
            <img src="img/X3ltGTH4SAOSgNA6v6Xl_Marraqueta.jpg" width="100%" height="auto">
        </div>
        <a style="display:inline-block;" ui-sref="menu.profile">
            <div style="text-align:center;">
                <img src="img/vubuZeD8QLepXp1HogMQ_39260_patricio_estrella.jpg" width="50%" height="auto">
            </div>
        </a>
        <button id="match-button9" class="button button-dark  button-block icon ion-android-done"></button>
    </ion-content>
</ion-view>