<ion-view title="User" id="page11" style="background-color:#FF5722;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/0rZcutF1QUIeCxylUsjg_bob_esponja.jpg" width="100%" height="auto">
        </div>
        <h1 id="user-heading4" style="color:#FFFFFF;">User Name</h1>
        <h3 id="user-heading4" style="color:#FFFFFF;">About:</h3>
        <h4 id="user-heading4" style="color:#FFFFFF;">Vivo en una piña debajo del mar, mi cuerpo absorbe y sin explotar</h4>

        <a ui-sref="menu.addIngredients" id="page10" class="button button-dark  button-block">Ingredients</a>

        <h3 id="user-heading4" style="color:#FFFFFF;">Upcoming meetings:</h3>
        <ion-list>
                <ion-item  menu-close="">Papas Mayo con Calamardo</ion-item>
                <ion-item  menu-close="">Langosta con Don Cangrejo</ion-item>
                <ion-item  menu-close="">Piscolas con Plankton</ion-item>
            </ion-list>

    </ion-content>
</ion-view>